
{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated and article.author.username == user.username %}
    <form action="{% url 'articles:edit_form' slug=article.slug %}" method="get">
        {% csrf_token %}
        <input type="submit" value="EDIT" >
    </form>
    {% comment %} <p><a href="{% url 'articles:edit' slug=article.slug %}">EDIT</a></p> {% endcomment %}
    {% endif %}

    <div id="article-detail">
        <div id="detail">
            <h2>{{ article.title }}</h2>
            <img src="{{ article.thumb.url }}"/>
            <p>{{ article.date }}</p>
            <p>{{ article.body }}</p>
        </div>    


        <hr />
        <hr />


        <h3>COMMENTS</h3>
        {% for comment in comments %}

        <div id="comment">
        <p>{{ comment.author }}</p>
        <p>{{ comment.date }}</p>
        <p>{{ comment.body }}</p>
        </div>
        <hr />

        {% endfor %}

        <hr />
        <hr />

        {% if user.is_authenticated %}
        <div id="comment-form">
            <form id="create-form" action="{% url 'articles:comment' slug=article.slug %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="POST">
            </form>
        </div>
        {% else %}
        <div>Login to comment</div>
        {% endif %}
    </div>

{% endblock %}