
{% comment %} {% load static from staticfiles %} {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Articles</title>
</head>
<body>

    <h1><a href="{% url 'home' %}">DJANGOLOG</a></h1>
    <hr/>

    <header id="head">
        <nav>
            <ul>
                {% if user.is_authenticated %}

                <li>
                    <form id="logout-form" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">LOGOUT</button>
                    </form>
                </li>
                <li><a href="{% url 'articles:create' %}">CREATE ARTICLE</a></li>

                {% else %}

                <li><a href="{% url 'accounts:login-page' %}">LOGIN</a></li>
                <li><a href="{% url 'accounts:signup-page' %}">SIGNUP</a></li>

                {% endif %}

                <li><a href="{% url 'contact' %}">CONTACT</a></li>

            </ul>
        </nav>
    </header>
    <hr>

    <div id="wrapper">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>